.form-check {
  margin-bottom: 10px;
}
.flex-container {
  display: flex;
  align-items: center;
}
.flex-label {
  flex: 1;
  min-width: 150px; 
}

.form-group label {
  margin-right: 10px;
  white-space: nowrap; /* Evita el salto de línea */
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  max-width: 60px; 
}

.total-budget {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.input-group .btn:focus,
.input-group .btn:hover {
  background-color: #5a008a;
  border-color: #5a008a;
}

.panel {
  .form-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;

    .input-group {
      display: flex;
      align-items: center;

      .btn {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 5px;
        background-color: #6a1b9a;
        color: #fff;

        &:hover {
          background-color: #5c1584;
        }
      }


      .form-control {
        width: 60px;
        text-align: center;
        border: 2px solid #000000;
        border-radius: 10px;
        color: #000;
        background-color: #fff;
        pointer-events: none; /* Evita la interacción del usuario */
      }
    }
  }
}



.btn-info {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 50%;
  /* Botón redondo */
  width: 30px;
  height: 30px; 
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 14px;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}

label {
  margin-left: 10px;
  white-space: nowrap;
}

.flex-container {
  display: flex;
  align-items: center;
}
.flex-label {
  flex: 1;
  min-width: 150px; 
}



