
<!-- panel.component.html -->
<!--<app-modal></app-modal>-->

<!--iv class="panel">
    <div>
      <label for="numPages">Número de Páginas:</label>
      <button (click)="decrementPages()">-</button>
      <input id="numPages" type="number" [formControl]="panelForm.controls['numPages']" min="1">
      <button (click)="incrementPages()">+</button>
    </div>
    <div>
      <label for="numLanguages">Número de Idiomas:</label>
      <button (click)="decrementLanguages()">-</button>
      <input id="numLanguages" type="number" [formControl]="panelForm.controls['numLanguages']" min="1">
      <button (click)="incrementLanguages()">+</button>
    </div>
  </div>-->


 <!-- <div class="panel">
    <div class="form-group">
      <label for="numPages">Número de Páginas:</label>
      <div class="input-group">
        <button class="btn btn-lila" (click)="decrementPages()">-</button>
        <input id="numPages" type="number" class="form-control" [(ngModel)]="numPages" min="1">
        <button class="btn btn-lila" (click)="incrementPages()">+</button>
      </div>
    </div>
    <div class="form-group">
      <label for="numLanguages">Número de Idiomas:</label>
      <div class="input-group">
        <button class="btn btn-lila" (click)="decrementLanguages()">-</button>
        <input id="numLanguages" type="number" class="form-control" [(ngModel)]="numLanguages" min="1">
        <button class="btn btn-lila" (click)="incrementLanguages()">+</button>
      </div>
    </div>
  </div>-->

  <!--<div class="panel">
    <div class="form-group">
      <label for="numPages">Número de Páginas:</label>
      <div class="input-group">
        <button class="btn btn-secondary" type="button" (click)="decrementPages()">-</button>
        <input id="numPages" type="number" formControlName="numPages" class="form-control" min="1">
        <button class="btn btn-secondary" type="button" (click)="incrementPages()">+</button>
      </div>
    </div>
    <div class="form-group">
      <label for="numLanguages">Número de Idiomas:</label>
      <div class="input-group">
        <button class="btn btn-secondary" type="button" (click)="decrementLanguages()">-</button>
        <input id="numLanguages" type="number" formControlName="numLanguages" class="form-control" min="1">
        <button class="btn btn-secondary" type="button" (click)="incrementLanguages()">+</button>
      </div>
    </div>
  </div>-->

 <!-- <div class="panel">
    <div class="form-group">
      <label for="numPages">Número de Páginas:</label>
      <div class="input-group">
        <button class="btn" type="button" (click)="decrementPages()">-</button>
        <input id="numPages" type="number" formControlName="numPages" class="form-control" min="1" readonly>
        <button class="btn" type="button" (click)="incrementPages()">+</button>
      </div>
    </div>
    <div class="form-group">
      <label for="numLanguages">Número de Idiomas:</label>
      <div class="input-group">
        <button class="btn" type="button" (click)="decrementLanguages()">-</button>
        <input id="numLanguages" type="number" formControlName="numLanguages" class="form-control" min="1" readonly>
        <button class="btn" type="button" (click)="incrementLanguages()">+</button>
      </div>
    </div>
  </div>-->
  

 <!--<div class="panel">
    <div class="form-group">
      <label for="numPages">Número de Páginas:</label>
      <div class="input-group">
        <button class="btn btn-lila" type="button" (click)="decrementPages()">-</button>
        <input id="numPages" type="number" [value]="parentForm.controls['numPages'].value" class="form-control" readonly>
        <button class="btn btn-lila" type="button" (click)="incrementPages()">+</button>
      </div>
    </div>
    <div class="form-group">
      <label for="numLanguages">Número de Idiomas:</label>
      <div class="input-group">
        <button class="btn btn-lila" type="button" (click)="decrementLanguages()">-</button>
        <input id="numLanguages" type="number" [value]="parentForm.controls['numLanguages'].value" class="form-control" readonly>
        <button class="btn btn-lila" type="button" (click)="incrementLanguages()">+</button>
      </div>
    </div>
  </div>-->

 <!-- <div class="panel">
    <div class="form-group">
      <div class="d-flex align-items-center">
     
        <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#helpModalPages">
        
          i
        </button>
        <label for="numPages" class="ms-2">Número de Páginas:</label>
      </div>
      <div class="input-group">
        <button class="btn btn-lila" type="button" (click)="decrementPages()">-</button>
        <input id="numPages" type="number" [value]="parentForm.controls['numPages'].value" class="form-control" readonly>
        <button class="btn btn-lila" type="button" (click)="incrementPages()">+</button>
      </div>
    </div>
    <div class="form-group">
      <div class="d-flex align-items-center">
        <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#helpModalLanguages">
         
          i
        </button>
     
        <label for="numLanguages" class="ms-2">Número de Idiomas:</label>
      </div>
      <div class="input-group">
        <button class="btn btn-lila" type="button" (click)="decrementLanguages()">-</button>
        <input id="numLanguages" type="number" [value]="parentForm.controls['numLanguages'].value" class="form-control" readonly>
        <button class="btn btn-lila" type="button" (click)="incrementLanguages()">+</button>
      </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="helpModalPages" tabindex="-1" aria-labelledby="helpModalPagesLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="helpModalPagesLabel">Ayuda</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Número de Páginas:</strong> Indica el número total de páginas que tendrá tu sitio web.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="helpModalLanguages" tabindex="-1" aria-labelledby="helpModalLanguagesLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="helpModalLanguagesLabel">Ayuda</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Número de Idiomas:</strong> Indica el número de idiomas en los que estará disponible tu sitio web.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>-->
  <div class="panel">
    <div class="form-group">
      <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#helpModalPages">i</button>
        <label for="numPages" class="ms-2 label-stretch">Number of Pages:</label>
        <div class="input-group">
          <button class="btn btn-lila" type="button" (click)="decrementPages()">-</button>
          <input id="numPages" type="number" [value]="parentForm.controls['numPages'].value" class="form-control" readonly>
          <button class="btn btn-lila" type="button" (click)="incrementPages()">+</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#helpModalLanguages">i</button>
        <label for="numLanguages" class="ms-2 label-stretch">Number of Languages:</label>
        <div class="input-group">
          <button class="btn btn-lila" type="button" (click)="decrementLanguages()">-</button>
          <input id="numLanguages" type="number" [value]="parentForm.controls['numLanguages'].value" class="form-control" readonly>
          <button class="btn btn-lila" type="button" (click)="incrementLanguages()">+</button>
        </div>
      </div>
    </div>
  </div>
  
  <app-modal
    modalId="helpModalPages"
    modalTitle="Help"
    modalBody="Specify the total number of pages your website will have. Each page costs 30€.">
  </app-modal>
  
  <app-modal
    modalId="helpModalLanguages"
    modalTitle="Help"
    modalBody="Specify the number of languages your website will support. Each language costs 30€.">
  </app-modal>
  

  
  

  
  
  