.welcome-container {
    background-image: url("/assets/bg.svg");
    background-size: cover;
    background-position: center;
    height: 300px; /* Ajusta esto según necesites */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  