.btn-lila {
    background-color: #6a0dad; /* Color lila */
    border-color: #6a0dad;
    color: white;
  }
  
  .btn-lila:hover {
    background-color: #5c099d; /* Color lila oscuro para el hover */
    border-color: #5c099d;
  }